.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato {
    margin: 0 auto;
    width: 90%;
    max-width: 450px;
    margin-bottom: 15px;
}

h3.centered {
    text-align: center;
}

.input-group {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.checkbox-group {
    margin-top: 15px;
    max-width: 375px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.checkbox-group input {
    margin-right: 5px;
}